params {
  tracedir = './run_stats'
  threadspercore = 3
}

trace {
  file = './trace.txt'
  overwrite = true
}

executor {
  name = 'slurm'
}

process {
  withName: get_software_versions {
    errorStrategy = { task.exitStatus == 141 ? 'retry' : 'finish' }
    maxRetries = 5
  }
  withName: createNewSpectraLookup {
    time = { mzmlfiles.size() > 100 ? check_max( 0.02.h * mzmlfiles.size() * task.attempt, 'time' ) : 2.h * task.attempt}
  }
  withName: quantifySpectra {
    maxForks = 10
    memory = { (infile.size() >> 30) > 5 ? check_max(infile.size() * 4 as nextflow.util.MemoryUnit, 'memory') : '16 GB'}
    time = { check_max( 1.h * (infile.size() >> 30) * task.attempt, 'time' ) }
  }
  withName: msgfPlus {
    maxForks = 20
  }
  withName: quantLookup {
    time = { check_max( 0.1.h * isofns.size() * task.attempt, 'time' ) }
    memory = '32 GB'
  }
  withName: createPSMTable {
    time = { mzmlcount > 500 ? check_max( 0.008.h * mzmlcount * task.attempt, 'time' ) : 2.h * task.attempt }
  }
  withName: percolator {
    time = { mzmlcount > 500 ? check_max( 0.004.h * mzmlcount * task.attempt , 'time' ) : 2.h * task.attempt }
    cpus = 4
  }
  withName: proteinPeptideSetMerge {
    cpus = { params.deqms ? 24 : 1}
// time increase for peptide merger, has slower SQL now!
  }
  withName: luciphorPTMLocalizationScoring {
    time = { check_max( (allpsms.size() >> 20) * 0.0067.h * task.attempt, 'time') }
  }
}
