process {
  cpus = 2
  memory = 4.GB
  time = 0.5.h

  withName: msgfPlus {
    cpus = 2
    time = { 0.5.h * task.attempt }
    memory = 4.GB
  }
  withName: sage {
    cpus = 2
    time = { 0.5.h * task.attempt }
    memory = 15.6.GB
    //memory = {!params.maxvarmods ? 15.6.GB : 16.GB * (params.noquant ? 2: 3)}
  }
}

docker {
  enabled = true
  fixOwnership = true
}
