/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  mzmlPaths = [
    ['https://github.com/glormph/test-datasets/raw/quant-msproteomics/testdata/set1_518_scans_QE_tmt10_fasp_cellines_human.mzML', 'qe', 'set1', '3.7-4.9', '08'],
    ['https://github.com/glormph/test-datasets/raw/quant-msproteomics/testdata/set2_518_scans_QE_tmt10_fasp_cellines_human.mzML', 'qe', 'set2', '3.7-4.9', '08'],
  ]
  tdb = 'https://www.uniprot.org/uniprot/?query=organism:9606+AND+reviewed:yes&format=fasta'
  isobaric = 'tmt10plex'
  denoms = 'set1:130C:131 set2:126:127N'
  mods = 'oxidation;carbamidomethyl'
  normalize = true
  params.hirief = 'https://github.com/nf-core/test-datasets/raw/6defbf8a92a46b0ac48bb05f9ad96b62716b4a5d/testdata/formatted_known_peptides_ENSUniRefseq_TMT_predpi_20150825.txt'
  params.genes = true
  params.ensg = false
}
