<div class="container">
  <h4 class="title is-4">PTM numbers</h3>
  <div class="columns">
    <div class="column">
      <h5 class="title is-5">PSMs</h5>
      {{ ptms.ptmpsmfeats }}
    </div>
    <div class="column">
      <h5 class="title is-5">Peptides</h5>
      {{ ptms.ptmpepfeats }}
    </div>
    <div class="column">
      <h5 class="title is-5">Proteins</h5>
      {{ ptms.ptmprotfeats }}
    </div>
  </div>
</div>

<div class="container">
  <h4 class="title is-4">PTM residue distributions</h3>
  <div class="columns">
    <div class="column">
      <h5 class="title is-5">PSMs</h5>
      {{ ptms.psmptmresidues }}
    </div>
    <div class="column">
      <h5 class="title is-5">Peptides</h5>
      {{ ptms.pepptmresidues }}
    </div>
  </div>
</div>
<hr>
