<!DOCTYPE html>
{% import 'tablemacro.j2' as tm %}

<html lang="en">
<head>
    <title>Lehtio proteomics QC report</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
<div class="container">
  <h2 class="title is-2">Full QC for {{ searchname }}</h2>
  <h4 class="subtitle is-4">Completed on {{ completedate }}</h4>
  <hr>
  <div class="columns">
    <div class="column">
      <h3 class="title is-3">Software</h3>
      <h6 class="subtitle is-6">
        Pipeline DOI: <a href="https://doi.org/10.5281/zenodo.3548311">10.5281/zenodo.3548311</a> (resolves to latest version)
      </h6>
      {{ software}}
    </div>
    <div class="column">
      <h3 class="title is-3">Warnings</h3>
      {% if warnings|length %}
      <div class="notification is-danger">
        <ul>
          {% for warn in warnings %}
          <li>&bull; {{ warn }}</li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
      <div class="notification">
        No warnings
      </div>
      {% endif %}
    </div>
  </div>

  <hr>
  <h3 class="title is-3">Protein/peptide level QC</h3>
  <h4 class="title is-4">Summary</h4>
  {{ tm.table(sumtable, tablefieldtitles) }}
  <hr>

  <h4 class="title is-4">Overlap</h4>
  <div class="columns">
    {% for feat in overlap %}
      <div class="column">
      <h5 class="title is-5">{{ featnames[feat] }}</h5>
      {{ tm.table(overlap[feat], tablefieldtitles) }}
      </div>
    {% endfor %}
  </div>
  <hr>

  {% if normfacs %}
  <h4 class="title is-4">Median centered isobaric normalization factors</h4>
  <div class="columns">
    {% for feat in normfacs %}
      <div class="column">
      <h5 class="title is-5">{{ featnames[feat] }}</h5>
      {{ tm.table(normfacs[feat], tablefieldtitles) }}
      </div>
      {% endfor %}
  </div>
  <hr>
  {% endif %}


{% for graphtype in ["featyield", "precursorarea", "isobaric", "normfactors", "nrpsms", "nrpsmsoverlapping",
                     "percentage_onepsm", "ms1nrpeps", "deqms", "pca"] %}
  {% if graphtype in features['peptides'] or ('proteins' in features and graphtype in features['proteins']) %}
  <h4 class="title is-4">{{ titles[graphtype] }}</h4>
  <div class="columns">
    {% for feat in features %}
    <div class="column">
      <h5 class="title is-5">{{ featnames[feat] }}</h5>
      {{ features[feat][graphtype] }}
    </div>
    {% endfor %}
  </div>
<hr>
{% endif %}
{% endfor %}
</div>
{% if 'proteins' in features %}
<div class="container">
  <h4 class="title is-4">Overall protein coverage</h3>
    {{ features.proteins.coverage }}
</div>
<hr>
{% endif %}

{% if ptms|length %}
{% include 'ptmqc.j2' %}
{% endif %}


<div class="container">
  <h3 class="title is-3">PSM level QC</h3>
  {% if frac == 'frac' %}
  <div class="columns">
    {% for graph in psms %}
    <div class="column">
      <h5 class="title is-5">{{ titles[graph] }}</h3>
      {{ psms[graph] }}
    </div>
    {% endfor %}
  </div>
  {% else %}
    {% for graph in psms %}
      <h5 class="title is-5">{{ titles[graph] }}</h5>
      {{ psms[graph] }}
    {% endfor %}
  {% endif %}
</div>
{% for graph in ppsms[firstplate] %}
<div class="container">
  <h4 class="title is-4">{{ titles[graph] }}</h4>
{% for plate, graphs in ppsms|dictsort %}
<div class="container">
  <h5 class="title is-5">Plate: {{ plate }}</h5>
  {{ ppsms[plate][graph] }}
</div>
{% endfor %}
</div>
{% endfor %}
</body>
</html>
