<!DOCTYPE html>
{% import 'tablemacro.j2' as tm %}

<html lang="en">
<head>
    <title>Lehtio proteomics QC report</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
<div class="container">
  <h2 class="title is-2">QC for {{ searchname }}</h2>
  <h6 class="title is-6">
    Pipeline DOI: <a href="https://doi.org/10.5281/zenodo.3548311">10.5281/zenodo.3548311</a> (resolves to latest version)
  </h6>
  <hr>
  <h3 class="title is-3">Protein/peptide level QC</h3>
  <h4 class="title is-4">Summary</h4>
  {{ tm.table(sumtable, tablefieldtitles) }}
  <hr>
  <h4 class="title is-4">Overlap</h4>
  <div class="columns">
  {% for feat in overlap %}
  <div class="column">
  <h5 class="title is-5">{{ featnames[feat] }}</h5>
  {{ tm.table(overlap[feat], tablefieldtitles) }}
  </div>
  {% endfor %}
  </div>
  <hr>

  {% if ptm_summary %}
  <h4 class="title is-4">PTMs</h4>
  <div class="columns">
    <div class="column">
      <h5 class="title is-5">Summary</h5>
      {{ tm.table(ptmfeatc_summary, ptmtabletitles) }}
      {% if ptmoverlap %}
      <hr>
      <h5 class="title is-5">Overlap</h5>
      {{ tm.table(ptmoverlap, ptmtabletitles) }}
      {% endif %}
    </div>
    <div class="column">
      <h5 class="title is-5">Site count</h5>
      {{ tm.table(ptm_summary, ptmtabletitles) }}
    </div>
  </div>
  <hr>
  {% endif %}

{% for graphtype in ["featyield", "isobaric", "pca"] %}
  {% if graphtype in features['peptides'] or ('proteins' in features and graphtype in features['proteins']) %}
  <h4 class="title is-4">
    {{ titles[graphtype] }}
    {% if graphtype == 'pca' %}
    <button id="pcabutton" class="button is-small">Help</button>
    {% elif graphtype == 'isobaric' %}
    <button id="isobutton" class="button is-small">Help</button>
    {% endif %}
  </h4>
  {% if graphtype == 'pca' %}
  <div id="pcahelptext" class="box" style="display:none">
    Principal components analysis (PCA) scores plots to visualize sample clustering based on similarity (in terms of overall peptide/protein/genecentric expression). Each dot in the plot represents a sample. The dataset variation is summarized in principal components (PCs), and the plot axes indicate the proportion of the total variation in the dataset that is explained by each of the components. The first two components are shown. The corresponding Skree plots (bar charts) show how much variation each PC capture from the data.
  </div>
  {% elif graphtype == 'isobaric' %}
  <div id="isohelptext" class="box" style="display:none">
    Boxplots showing protein/peptide log2(fold change) distribution across samples. The line in the middle of the box is plotted at the median. The top and bottom of the box correspond to the 25th and 75th percentiles. The upper whisker extends to the largest value no further than 1.5 * IQR from the hinge (where IQR is the inter-quartile range, or distance between the first and third quartiles). The lower whisker extends to the smallest value at most 1.5 * IQR of the hinge. Data beyond the end of the whiskers are called "outlying" points and are plotted individually. 

     Box and median should be roughly the same between samples, assuming equal loaded amount and an untargeted analysis. If this is not the case, some kind of normalisation to make samples comparable is recommended. We perform median normalisation on all TMT-labelled datasets.
  </div>
  {% endif %}

  <div class="columns">
    {% for feat in features %}
    <div class="column">
      <h5 class="title is-5">{{ featnames[feat] }}</h5>
      {{ features[feat][graphtype] }}
    </div>
    {% endfor %}
    {% if graphtype == "isobaric" and 'normfac' in features['proteins'] %}
    <div class="column">
      <h5 class="title is-5">Median centering</h5>
        {{ features['proteins']['normfac']}}
    </div>
    {% endif %}
  </div>
<hr>
{% endif %}
{% endfor %}
</div>

{% if ptms|length %}
{% include 'ptmqc.j2' %}
{% endif %}

</body>

  <script>

function toggleHelp(textbox, button) {
  if (textbox.style.display === 'none') {
    textbox.style.display = '';
    button.textContent = 'Hide help';
  } else {
    textbox.style.display = 'none';
    button.textContent = 'Help';
  } 
}; 

pcahelptext = document.querySelector('#pcahelptext');
pcabut = document.querySelector('#pcabutton');
isohelptext = document.querySelector('#isohelptext');
isobut = document.querySelector('#isobutton');

pcabut.addEventListener('click', e => toggleHelp(pcahelptext, pcabut));
isobut.addEventListener('click', e => toggleHelp(isohelptext, isobut));

  </script>
</html>
