{% macro table(table, titles) -%}
<table class="table is-striped is-narrow is-hoverable is-size-7">
<thead>
<tr>
{% for field in table['_fields'] %}
<th>{{ titles[field] }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for line in table['_rows'] %}
<tr>
{% for field in table['_fields'] %}
<td>{{ line[field] }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{%- endmacro %}

